<!-- locals css -->
<link rel="stylesheet" href="/css_files/layout.css">

<footer class="footer" style="text-align: end;">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <ul class="list-inline social-icons" style="text-align: end; margin-top: 10px;"> 
            <span class="contact">contact me</span>           
            <li class="list-inline-item">
              <a href="https://github.com/basithArch" target="_blank"><i class="fab fa-github"></i></a>
            </li>
            <li class="list-inline-item">
              <a href="https://www.linkedin.com/in/abdul-basith-w" target="_blank"><i class="fab fa-linkedin"></i></a>
            </li>
          </ul>
          <hr style="background-color: white;">
        </div>
      </div>
      <p class="text-center">© <span style="color: black;">Abdulbasith </span> 2022-2023. All Rights Reserved.</p>
    </div>
</footer>